<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/public/stylesheets/css/master.css">

</head>
<body>

    <div class="app--dashboard" id="app--dashboard">
        <div class="dashboard-header--panel">
            <div class="dashboard-account-options-tab--panel">
                <i class="dash-menu-icon"></i>
                <span data-set-dashboard-module-name> farmcbc01 </span>
            </div>
            <div class="page-isotype">
                <img src="/public/static/isotype.svg"  alt="">
            </div>
            <div class="dashboard-action-tool--panel">
                <i class="dash-notification-icon"></i>
                <i class="dash-inbox-icon"></i>
            </div>
        </div>
        <div class="dashboard-view-wrapper">
            <div class="dashboard-navigation--tX01">
                <div class="horizontal-nav-menu--hNM01">
                    <ul>
                        <li>Products registration</li>
                        <li>Inventory management</li>
                        <li>Reports</li>
                        <li>Statistics</li>
                        <li>Configurations</li>
                        <li>Help</li>
                    </ul>
                </div>
            </div>

            <div class="dashboard-view-joint">
                <div class="dashboard-view-section-content--panel">
                    <div class="dashboard-item-register-window">
                        <div class="section-header-tag--hPl01">
                            <span> Item form </span>
                        </div>


                        <div class="label-form-info" style="text-align:left;margin: 32px 0;">
                            Product information.
                        </div>

                        <div class="dashboard-item-register-window--form">
                            <div class="input--group">
                                <input type="text" class="form--input xm" placeholder="Description">
                            </div>
                            <div class="input--group double">
                                <input type="text" class="form--input xm" placeholder="Model">
                                <input type="text" class="form--input xm" placeholder="Serial">
                            </div>
                            <div class="input--group double">
                                <div class="input--group double adjust-right-padding--15">
                                    <input type="text" class="form--input xm" placeholder="Price">
                                    <input type="text" class="form--input xm" placeholder="Dimensions">
                                </div>
                                <div class="input--group double adjust-left-padding--15">
                                    <input type="text" class="form--input xm" placeholder="Qty. Amount">
                                    <input type="text" class="form--input xm" placeholder="Brand">
                                </div>
                            </div>

                            <div class="label-form-info" style="text-align:left;margin: 32px 0;">
                                Transport and shippement information.
                            </div>

                            <div class="input--group double">
                                <input type="text" class="form--input xm" placeholder="Cargo">
                                <input type="text" class="form--input xm" placeholder="Import taxes">
                            </div>
                            <div class="input--group double">
                                <input type="text" class="form--input xm" placeholder="Origin of item">
                                <input type="text" class="form--input xm" placeholder="Supplier">
                            </div>

                            <div class="label-form-info" style="text-align:left;margin:32px 0;">
                                Make sure you have the right information before sending it to the database.
                            </div>

                            <div class="input--group">
                                <button class="form--btn"> send </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dashboard-action-window--panel">

                </div>

            </div>
        </div>

        <div class="app--dashboard-footer-taskbar-panel">

        </div>
    </div>

</body>
</html>
