:root {
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#6c757d;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
  --breakpoint-xs:0;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
  --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

body {
  background: var(--light);
  font-size: 16px;
  font-family: Open Sans,sans-serif;
  -webkit-font-smoothing: antialiased; }

@media screen and (min-width: 720px) {
  #home-page, .trimmed {
    padding: 32px 16px;
    width: 100%; }
  #home-page {
    grid-template-columns: calc(100% - (250px + 64px)); }
  #side-nav-menu-controller {
    height: 100vh;
    width: 290px;
    position: fixed;
    left: 0;
    top: 0; } }

@media screen and (min-width: 1366px) {
  #home-page, .trimmed {
    margin: 44px auto;
    width: 1200px; } }

@media screen and (min-width: 1400px) {
  #home-page, .trimmed {
    margin: 44px auto;
    width: 1260px; } }

@media screen and (min-width: 1920px) {
  #home-page, .trimmed {
    margin: 44px auto;
    width: 1440px; } }

.modal-screen-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none; }

#header-app, #home-page #content-timeline, #home-page #side-nav-menu-controller, .box-shadow-xl {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.05); }

#home-page #content-timeline, #home-page #side-nav-menu-controller, .border-radius {
  border-radius: 4px; }

#show-location-on-site {
  width: 100%;
  height: 500px;
  background-image: url(../assets/robohand.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }

#show-location-on-site .difuminate-location-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(102, 16, 242, 0.9); }

.box-data-tech {
  width: 300px;
  height: 300px;
  background-image: url(../assets/robohand.jpg);
  background-size: cover;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }

.box-data-tech .difuminate-tech {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 124, 255, 0.9); }

#header-app {
  width: 100%;
  height: 64px;
  background: #fff;
  z-index: 50; }

#home-page {
  height: auto;
  display: grid;
  grid-template-columns: 290px calc(100% - (290px + 250px + 64px)) 250px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#home-page #side-nav-menu-controller {
  height: 448px;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 32px; }

#home-page #side-nav-menu-controller .tag-title {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid var(--light); }

#home-page #side-nav-menu-controller .menu {
  padding: 12px 0; }

#home-page #side-nav-menu-controller ul {
  width: 100%;
  height: auto;
  list-style-type: none;
  padding: 0;
  margin: 0; }

#home-page #side-nav-menu-controller ul li {
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#home-page #side-nav-menu-controller ul li:first-of-type {
  background: #ddd;
  border-right: 5px solid #343a40; }

#home-page #side-nav-menu-controller ul li .timeline::before {
  content: url(../assets/icons/navigation/timeline.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #side-nav-menu-controller ul li .science::before {
  content: url(../assets/icons/navigation/science.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #side-nav-menu-controller ul li .tech::before {
  content: url(../assets/icons/navigation/tech.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #side-nav-menu-controller ul li .games::before {
  content: url(../assets/icons/navigation/games.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #side-nav-menu-controller ul li .trend::before {
  content: url(../assets/icons/navigation/trend.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #side-nav-menu-controller ul li .jobs::before {
  content: url(../assets/icons/navigation/jobs.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #side-nav-menu-controller ul li .store::before {
  content: url(../assets/icons/navigation/store.svg);
  display: inline-block;
  padding-right: 24px;
  padding-top: 25%; }

#home-page #content-timeline {
  height: 1400px;
  background: #fff; }

#home-page #content-timeline .navigation-switcher {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid var(--light); }

#home-page #content-timeline .content {
  width: 100%;
  padding: 16px; }

#home-page #side-view-content {
  height: auto; }

#home-page #side-view-content #discord {
  width: 100%;
  height: 260px;
  background: #dc3545; }

#subscription-stamp {
  width: 100%;
  height: 300px;
  background: #6f42c1; }

/*# sourceMappingURL=index.css.map */
